{{!--
name: Gray low-contrast reader
type: article
author: Moy.Design
description: Minimalistic low-contrast template with gray background.
  Displays a single blog post in a human-friendly way without needless formatting.
  Inspired by http://bettermotherfuckingwebsite.com/
--}}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="{{ BASE_URL }}">
  <title>{{ TITLE }}</title>
  {{{ ICON_TAGS }}}
  {{{ OPEN_GRAPH_TAGS }}}
  <style>
    body {
      line-height: 1.6;
      font-size: 20px;
      color:#444;
      padding:0 10px;
      background-color: #eee;
    }
    .container {
      margin: 20px auto;
      max-width: 800px;
    }
    .article-body img, .comment-body img {
      margin: 0.5em auto;
      display: block;
      height: auto;
      max-width: 100%;
    }
    .article-body a img, .comment-body a img {
      margin: inherit;
      display: inherit;
      height: inherit;
      max-width: 100%;
    }
    .article-body iframe {
      max-width: 100%;
      width: 640px;
      height: 360px;
    }
    .article-body div {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .logo {
      float: right;
    }
    .author_pic, .comment-author-pic {
      float: left;
      margin-right: 0.5em;
    }
    .author_pic img, .comment-author-pic img {
      max-width: 100px;
      max-height: 100px;
    }
    h1 {
      font-size: 1.25em;
    }
    h2 {
      font-size: 1.125em;
    }
    h3 {
      font-size: 1.05em;
    }
    a, a:visited {
      color: #0074D9;
      text-decoration: underline;
    }
    .article-header a {
      text-decoration: none;
    }
    .article-body a:visited {
      color: #B10DC9;
    }
    .title, .comment-author {
      margin: 0;
      line-height: 1.2;
    }
    .subtitle {
      margin: 0;
      line-height: 1.2;
      font-style: italic;
      font-weight: normal;
    }
    .date, .comment-date, .folded-comment {
      color: #888;
      font-size: smaller;
    }
    .comment.folded + .comment.folded::after {
      content: "...";
      color: #888;
      font-size: smaller;
    }
    .comment.folded + .comment.folded + .comment.folded {
      display: none;
    }
    .clearfix {
      clear: both;
    }
    .comment-header {
      margin-top: 1.5em;
      padding-top: 0.3em;
    }
    .logo img {
      max-width: 50px;
      max-height: 50px;
    }
    .comment-body p {
      margin-top: 0;
    }
    .comment-author-pic img {
      max-height: 50px;
    }
    .comment[indent]     {margin-left: 240px;}
    .comment[indent='0'], .comment[indent='1'] {margin-left: 0;}
    .comment[indent='2'] {margin-left: 30px;}
    .comment[indent='3'] {margin-left: 60px;}
    .comment[indent='4'] {margin-left: 90px;}
    .comment[indent='5'] {margin-left: 120px;}
    .comment[indent='6'] {margin-left: 150px;}
    .comment[indent='7'] {margin-left: 180px;}
    .comment[indent='8'] {margin-left: 210px;}
    .comment[indent='9'] {margin-left: 240px;}
  </style>
</head>
<body>
  <div class='container'>
    <div class='article'>
      <div class='article-header'>
        <div class='logo'>
          {{#if logo_small_img_src}}
            <a href="{{#if logo_small_link}}{{logo_small_link}}{{else}}/{{/if}}">
              <img src="{{logo_small_img_src}}">
            </a>
          {{/if}}
        </div>
        <div class='author_pic'>
          {{#if author_img_src}}
            {{#if author_link}}
              <a href="{{author_link}}"><img src="{{author_img_src}}"></a>
            {{else}}
              <img src="{{author_img_src}}">
            {{/if}}
          {{/if}}
        </div>
        <div class='author'>
          {{#if author_link}}
            <a href="{{author_link}}">{{{author}}}</a>
          {{else}}
            {{{author}}}
          {{/if}}
        </div>
        <h1 class='title'>{{{title}}}</h1>
        <h3 class='subtitle'>{{{subtitle}}}</h3>
        <div class='date'>{{{date}}}</div>
        <div class='clearfix'></div>
      </div>
      <div class='article-body'>
        {{#if article_img_src}}
          <img src="{{article_img_src}}">
        {{/if}}
        {{{body}}}
      </div>

      {{#if comment}}<center>* * *</center>{{/if}}
      {{#each comment}}
        <div class='comment {{#unless body}}folded{{/unless}}'
          {{#if level}}
            indent='{{level}}'
          {{else if indent}}
            style='margin-left: {{indent}}'
          {{/if}}
        >
        {{#if body}}
          <div class='comment-header'>
            <div class='comment-author-pic'>
              {{#if author_img_src}}
                {{#if author_link}}
                  <a href="{{author_link}}"><img src="{{author_img_src}}"></a>
                {{else}}
                  <img src="{{author_img_src}}">
                {{/if}}
              {{/if}}
            </div>
            <div class='comment-author'>
              {{#if author_link}}
                <a href="{{author_link}}">{{{author}}}</a>
              {{else}}
                {{{author}}}
              {{/if}}
            </div>
            <div class='comment-date'>{{{date}}}</div>
          </div>
          <div class='comment-body clearfix'>{{{body}}}</div>
        {{else}}
          <div class='folded-comment'>
            {{#if ../folded_comment_text}}
              {{{../folded_comment_text}}}
            {{else}}
              (comment folded)
            {{/if}}
          </div>
        {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</body>
</html>
